<!DOCTYPE html>
<html>
<head>
    <title>African Roho Msalaba Church</title>

    <style>
        body {
            margin: 0;
            font-family: Arial;
        }

        nav {
            background: #2c3e50;
            padding: 10px;
        }

        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .content {
            padding: 20px;
        }
    </style>
</head>

<body>

<!-- NAVBAR -->
<nav>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'members_home' %}">Members</a>
    <a href="{% url 'mark_attendance' %}">Attendance</a>
    <a href="#">Logout</a>
</nav>

<!-- PAGE CONTENT -->
<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
