<!DOCTYPE html>
<html>
<head>
    <title>African Roho Msalaba Church</title>
</head>
<body>

<h1>African Roho Msalaba Church</h1>

<hr>

<h2>Welcome</h2>

<p>
Welcome to African Roho Msalaba Church.
Serving God and the community through worship,
prayer and fellowship.
</p>

<hr>

<h2>Upcoming Events</h2>

{% for event in events %}
<p>
<b>{{ event.title }}</b><br>
{{ event.event_date }}
</p>
{% empty %}
<p>No upcoming events.</p>
{% endfor %}

<hr>

<h2>Announcements</h2>

{% for announcement in announcements %}
<p>
<b>{{ announcement.title }}</b><br>
{{ announcement.message }}
</p>
{% empty %}
<p>No announcements available.</p>
{% endfor %}

<hr>

<h2>Church Leadership</h2>

{% for leader in leaders %}
<p>
{{ leader.name }}
-
{{ leader.get_role_display }}
</p>
{% empty %}
<p>No leaders added yet.</p>
{% endfor %}

</body>
</html>
{% extends "members/base.html" %}

{% block content %}

<div style="text-align:center; padding:50px;">
    <h1>🕊️ African Roho Msalaba Church</h1>
    <p style="font-size:18px;">
        Welcome to the official church management system
    </p>

    <a class="btn" href="{% url 'dashboard' %}">
        Enter Dashboard
    </a>
</div>

{% endblock %}
